body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-top: 70px;
}

body.light {
  color: black;
  background-color: rgb(240, 228, 137);
}

body.dark {
  color: gold;
  background-color: rgb(15, 15, 15);
}

.navbar {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding-bottom:1rem;
  margin-top: -12px; 
}

body.dark .navbar {
  color: black;
  background-color: gold;
}

body.light .navbar {
  color: rgb(240, 228, 137);
  background-color: black;
}

body.dark button {
  color: black;
  background-color: gold;
  border: 3px solid black;
}

body.light button {
  color: rgb(240, 228, 137);
  background-color: black;
  border: 3px solid rgb(240, 228, 137);
}

.nav-link {
  padding: 5px;
  margin-right: 1rem;
  text-decoration: none;
}

.nav-link.search-button {
  transition: border-color 0.25s ease-in-out;
}

.nav-link:hover {
  text-decoration: underline;
  color: white;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: auto;
}

.search-input {
  padding: 0.5rem;
  border-radius: 5px;
  flex-grow: 1;
  margin-right: 0.5rem;
  margin-top: 2.25rem;
}

body.dark .search-input {
  background-color: gold;
  color: black;
  border: 3px solid black;
}

body.light .search-input {
  background-color: black;
  color: rgb(240, 228, 137);
  border: 3px solid rgb(240, 228, 137);
}

.create-post, form, input, textarea{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  max-width: 600px;
}

.container {
  padding: 2rem;
}

.post-page {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.post-image {
  flex-shrink: 0;
  border: 2px solid white;
  padding: 40px;
}

.post-content {
  max-width: 400px;
  height: auto;
  word-wrap: break-word;
  border: 2px solid white;
  padding: 40px;
}

.post-image img{
  width: 100%;
  height: auto;
  max-width: 500px;
  max-height: 550px;
  display: block;
  object-fit: cover;
  flex-shrink: 0;
}

.header-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-link {
  padding: 10px;
}

.post-interactions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid white;
  padding: 40px;
}
/* Card View */
.posts-container.card {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 3fr));
  gap: 3rem;
  padding-top:3rem;
  width: 3/4;
  max-width: none;
  justify-content: space-evenly;
  grid-auto-rows: minmax(350px, auto);
}


.post-card.card {
  width: 100%;
  height: 350px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 8px;
  box-sizing: border-box;
}

body.dark .post-card.card {
  border: 3px solid gold;
  background-color: rgba(15, 15, 15, 0.9);
}

body.light .post-card.card {
  border: 3px solid black;
  background-color: rgb(240, 228, 137);
}

.post-card.card:hover {
  transform: translateY(-5px);
}

.card-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.card-header h2 {
  font-size: 1.5rem;
  margin: 0;
}

body.dark .card-header h2{
  color: gold;
}

body.light .card-header h2{
  color: black;
}

.card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}


.post-meta {
  display: flex;
  gap: 0.5rem;
  font-size: 0.9rem;
}

body.dark .post-meta {
  color: gold;
}

body.light .post-meta {
  color: black;
}

.upvotes-section {
  color: #744bfa;
  font-size: 1.2rem;
}

/* List View */
.posts-container.list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.post-card.list {
  padding: 2rem;
  border-radius: 8px;
  margin: 0 1rem;
}

body.dark .post-card.list {
  border: 3px solid gold;
  background-color: rgba(15, 15, 15, 0.9);
}

body.light .post-card.list {
  border: 3px solid black;
  background-color: rgb(240, 228, 137);
}

.post-card.list:hover {
  transform: translateY(-5px);
}

/*aos animation*/

.aos-animate .posts-container {
  opacity: 1;
  transform: translateY(0);
}

.upvote-section button,
.comment-button {
  margin-right: 20px;
  padding: 0.7rem 1.2rem;
  cursor: pointer;
}

.upvoted {
  background-color: rgb(6, 204, 6) !important;
  margin-right: 20px;
  padding: 0.7rem 1.2rem;
  cursor: pointer;
}

.view-post-link {
  text-decoration: underline;
}

body.dark .view-post-link {
  color: gold;
}

body.light .view-post-link {
  color: black;
}

body.dark .view-post-link:hover {
  color: skyblue;
}

body.light .view-post-link:hover {
  color: skyblue;
}

.create-post, .update-post {
  max-width: 600px;
  margin: auto;
}

form label {
  display: block;
  margin-top: 1rem;
}

form input, form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button:hover {
  border: 5px solid white;
}

.delete-button {
  color: white !important;
  background-color: red !important;
  cursor: pointer;
  margin-top: 1rem;
  max-width: 200px;
  height: auto;
  word-wrap: break-word;
  text-align: center;
  font-size: 1rem;
  padding: 10px;
}

.comment {
  border-top: 1px solid #ddd;
  padding: 0.5rem 0;
}

.edit-link {
  color: #744bfa;
  text-decoration: underline;
}

.edit-link:hover{
  color: skyblue;
  text-decoration: underline;
}

.home-banner{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sort-options{
  padding: 20px;
}

.profile-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.87);
  margin-right: 15px;
  margin-top: 12px;
}

body.dark .profile-button {
  border: 3px solid black !important;
}

body.light .profile-button {
  border: 3px solid rgb(240, 228, 137) !important;
}

.profile-button:hover {
  color: white;
  text-decoration: underline;
}

.profile-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
}

.error {
  color: red;
    font-size: 0.9rem;
    min-height: 1.2rem;
    margin-top: 5px;
}

body > div {
  width: 100%;
}


.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #000000e8;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
}

.modal-header {
  display: flex;
  align-items: center;
}

.login-page {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.planguage-dropdown {
  background: black;
  border: 2px solid white;
}

.planguage-dropdown li {
  padding: 10px;
  cursor: pointer;
}

.planguage-dropdown li:hover {
  background: white;
  color: black;
}

.selected-languages {
  margin-top: 10px;
}

.selected-tag {
  display: inline-flex;
  align-items: center;
  background: #744bfa;
  color: black;
  padding: 5px 10px;
  border-radius: 15px;
  border: 2px solid white;
  margin: 5px;
  font-size: 18px;
  font-weight: bold;
}

.selected-tag button {
  background: skyblue;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 5px;
}

.flair-tags {
  margin-top: 10px;
  margin-bottom: 5px;
}

.flair-tag {
  display: inline-block;
  background: #744bfa;
  color: black;
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid #744bfa;
  font-size: 16px;
  font-weight: bold;
  margin-right: 5px;
}

.tag-button {
  padding: 5px 10px;
  margin: 5px;
  border: 2px solid gold;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
}

.tag-button.selected {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.scrollable-language-list {
  max-height: 200px; 
  overflow-y: auto;
  margin-top: 10px;
}

.scrollable-language-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.scrollable-language-list li {
  padding: 8px;
  cursor: pointer;
}

.scrollable-language-list li:hover {
  background-color: gold;
  color: black;
}

.language-item.selected {
  background-color: white;
  color: black;
}

body.dark .view-profile {
  color: gold;
}

body.light .view-profile {
  color: black;
}

body.dark .view-profile-posts {
  border: 3px solid gold;
}

body.light .view-profile-posts {
  border: 3px solid black;
}

body.dark .view-profile-posts-titles {
  color: gold;
}

body.light .view-profile-posts-titles {
  color: black;
}